html{
    scroll-behavior: smooth;
}

body {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 10%;
    margin-top: 0px;
    margin-right: 10%;
    height: 100%;
    z-index: 1;
    font-family: 'Jost', sans-serif;
    background-color: gray;
}

header{
    background-color: black;
}

main{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}

#post{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.profil{
    background-color: rgb(63, 63, 63);
    width: 100%;
    
}

.socialNetwork{
    background-color: rgb(20, 20, 20);
    width: 100%;
    
}

.oeuvres{
    background-color: rgb(56, 56, 56);
    width: 100%;
    
}

.container{
    display: flex;
    background-color: black;
}

#header{
    display: flex;
    padding: 5%;
}

.nav-droite{
    display: flex;
}

.nav-gauche{
    display: flex;
}

#logo{
    width: 10%;
}

#photoProfil{
    width: 20%;
}

.btn_catégorie{
    transition-duration: 0.4s;
    border: none;
    background-color: rgba(172, 171, 171, 0);
    border-radius: 5px;
    font-family: 'Jost', sans-serif;
    color: white;
    cursor: pointer;
    padding:2%;
    font-size: 0.7em;
}
.btn_catégorie:hover{
    background-color: rgba(24, 24, 24, 0.226);
}

    .dropdown {
    display: inline-block;
    transition-duration: 0.9s;
    }
    .dropdown-child {
    position: fixed;
    display: none;
    background-color: rgb(236, 236, 236);
    min-width: 15%;
    z-index: 3;
    transition-duration: 0.9s;
    }
    .dropdown-child a {
    color: rgb(102, 105, 102);
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    transition-duration: 0.9s;
    }
    .dropdown:hover .dropdown-child {
    display: block;
    font-size: 0.9em;
    
    }

    .child{
        margin: 5%;
        background-color: rgb(236, 236, 236);
        border: solid 1px rgb(236, 236, 236);
        box-shadow: 2px, 2px, 2px,2px, black;
        transition-duration: 0,5s;
        padding-left: 3px;
        padding-right: 3px;
        transition-duration: 0.5s;
    }

    .child:hover{
        background-color: rgb(54, 54, 54);
        color: white;
        transition-duration: 0.5s;
    }

