header{
    color: black;
}

#profil{
    position: fixed;
    top: 2%;
    right: -50px;
}

#img-profil{
    border: solid 2px rgb(218, 218, 218);
    border-radius: 50%;
    width: 35%;
}

.navbar{
    float: none;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 10%;
    border-bottom: solid rgb(252, 252, 252) 2px;
    background-color: white;
    z-index: 1;
}

.bar-cat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin-top: 2%;
}

.categories{
    color: rgb(112, 112, 112);
    text-decoration: none;
}

li{
    padding-right: 5%;
}

.categories:hover{
    color: rgb(197, 44, 44);
}

#search{
    width: 7%;
    margin-left: 90%;
}

