<header>
    <div class="container-fluid nav-bar">
        <ul class="bar-cat">
            <li><a class="categories" href="#"><span>Home</span></a></li>
            <li><a class="categories" href="#"><span>Notification</span></a></li>
            <li><a class="categories" href="#"><span>Explorer</span></a></li>
            <li><a class="categories" href="#"><span>Donnations</span></a></li>
            <li><a class="categories" href="#"><span>Groups</span></a></li>
            <li><a class="categories" href="#"><span>Messages</span></a></li>
            <li><a class="categories" href="#"><span>Stats</span></a></li>
            <li>
               
            </li>
        </ul>
        
        <div class="profil">
            <img id="img-profil" src="assets/Enzo.jpg" width="30%" alt="enzo">
        </div>
    </div>
   
</header>