<header>
    <div class="container-fluid nav-bar">
        <ul class="bar-cat">
            <li><a class="categories" href="#"><span>Home</span></a></li>
            <li><a class="categories" href="#"><span>Notification</span></a></li>
            <li><a class="categories" href="#"><span>Explorer</span></a></li>
            <li><a class="categories" href="#"><span>Donnations</span></a></li>
            <li><a class="categories" href="#"><span>Groups</span></a></li>
            <li><a class="categories" href="#"><span>Messages</span></a></li>
            <li><a class="categories" href="#"><span>Stats</span></a></li>
            <li>
                <i class="bi bi-search"></i>
            </li>
        </ul>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-search"></span>
          </button>
    </div>
    <div class="search">

    </div>
    <div class="profil">

    </div>
</header>