<header>
    <div class="container-fluid nav-bar">
       <ul class="bar-cat">
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="home"><span>Home</span></a></li>
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="notif"><span>Notification</span></a></li>
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="auth"><span>Explorer</span></a></li>
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="donnations"><span>Donnations</span></a></li>
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="grpups"><span>Groups</span></a></li>
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="messages"><span>Messages</span></a></li>
            <li routerLinkActive="active" class="li-cat"><a class="a-cat" routerLink="stats"><span>Stats</span></a></li>
        </ul>

        <div id="search">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </div>
        <div id="profil">
            <img id="img-profil" src="assets/Enzo.jpg" alt="enzo">
        </div>
    </div>
   
</header>