article{
    margin-top: 7%;
    margin-left: 3%;
    z-index: -3;
}

div.row{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.title{
    margin-bottom: 10%;
    margin-bottom: 10%;
}

#top-account{
    height: 250px;
    background-color: white;
    margin-bottom: 10%;
    border-radius: 5px;
    border: solid 2px rgb(235, 235, 235);
}

.title-1{
    margin-top: 10%;
    margin-bottom: 5%;
}

.story{
    border: solid 1px red;
    padding: 2px;
    margin-right: 5%;
}

.block{
    background-color: white;
    border-radius: 5px;
    border: solid 2px rgb(235, 235, 235);

}

.block-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -10%;
    margin-left: -7%;
}

#WDYM{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 2.5%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(122, 122, 122);
    border: solid 2px rgb(235, 235, 235);

}

.box{
    text-align: center;
    margin-bottom: 2%;
}

#box1{
    width: 20%;
    height: 100%;
    margin-right: 1%;
}

#box2{
    width: 60%;
    margin-left: 0.7%;
    margin-right: 1%;
}

#box3{
    width: 30%;
    margin-left: 1%;
}

img{
    border-radius: 50%;
    margin-right: 2%;
}

.profil-box{
    display: flex;
    flex-direction: row;
    
}

.post-box{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 3%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(235, 235, 235);
}

#text-post{
    text-align: left;
    padding: 1.5%;
}

.contact{
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: solid 2px rgb(231, 231, 231);
}

#news-posts{
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    margin-top: 4%;
}

.sup-box{
    height: 250px;
    background-color: white;
    border-radius: 5px;
    border: solid 2px rgb(235, 235, 235);

}

h4{
    text-align: left;

}

#tittle-top{
    text-align: center;
    margin-top: 30%;
}