article{
    margin-top: 7%;
    margin-left: 3%;
    z-index: -3;
}

div.row{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.title{
    margin-bottom: 10%;
    margin-bottom: 10%;
}

.title-1{
    margin-top: 10%;
    margin-bottom: 5%;
}

.story{
    border: solid 1px red;
    padding: 2px;
    margin-right: 5%;
}

.block{
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(194, 194, 194);
}

.block-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -10%;
    margin-left: -5%;
}

#WDYM{
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 2.5%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px rgb(194, 194, 194);
    color: rgb(122, 122, 122);
}

.box{
    text-align: center;
    padding-left: 3px;
    margin-bottom: 2%;
}

#box1{
    width: 20%;
    height: 100%;
    margin-right: 1%;
}

#box2{
    width: 60%;
    margin-left: 2%;
    margin-right: 2%;
    padding:0% 2% 0% 1%;
}

#box3{
    width: 30%;
}

img{
    border-radius: 50%;
    margin-right: 2%;
}

.profil-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    border-bottom: solid rgb(194, 194, 194) 2px;
    padding-bottom: 2%;
}

.post-box{
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding: 3%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px rgb(194, 194, 194);

}

.contact{
    display: flex;
    flex-direction: row;
    padding: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-bottom: solid 2px rgb(231, 231, 231);
}

#news-posts{
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(194, 194, 194);
    margin-top: 4%;
}

.sup-box{
    height: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(194, 194, 194);
}
