<li class="list-group-item">
  <div class="posts"> 
    <h4 [ngStyle]="{color: getLikeIts()}" >{{ postsName }}</h4> 
    <p>{{ lastUpdate | async | date: 'short' }}</p>
  </div> 
    <p>{{ postsContent }}</p>
    <p>{{ postsLike }}</p>
    <button class="btn btn-sm btn-success"
          *ngIf="postsLike === 'dislike'"
          (click)="onSwitch()">Like</button>
    <button class="btn btn-sm btn-danger"
          *ngIf="postsLike === 'like'"
          (click)="onSwitch()">DisLike</button>
  </li>
