<section>
    <div class="fix-sideBar">
        <div class="icons">
            <ul class="icons-list">
                <li>
                    <img id="logo_P" src="assets/logo_P.png" alt="logo_P">                    
                </li>
                <li>
                    <a href="#">
                        <span id="icon-movie" class="glyphicon glyphicon-film"></span>
                      </a>
                    </li>
                <li>
                    <a href="#">
                        <span id="icon-music" class="glyphicon glyphicon-music"></span>
                      </a>
                </li>
                <li>
                    <a href="#">
                        <span id="icon-help" class="glyphicon glyphicon-question-sign"></span>
                      </a>
                </li>
                <li>
                    <a href="#">
                        <span id="icon-setting" class="glyphicon glyphicon-cog"></span>
                          </a>
                </li>
            </ul>
        </div>
    </div>
</section>
