<div class="all-contact">
    <div class="contact">
        <img class="story" src="assets/Enzo.jpg" alt="enzo">
          <h5 class="name">Enzo</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Lucile.jpg" alt="Lucile">
    <h5 class="name">Lucile</h5>
    </div>
    <div class="contact">
        <img class="story"src="assets/Yanis.jpg" alt="Yanis">
         <h5 class="name">Yanis</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Marine.jpg" alt="Marine">
        <h5 class="name">Marine</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Nathan.jpg" alt="Nathan">
        <h5 class="name">Nathan</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Enzo.jpg" alt="enzo">
          <h5 class="name">Enzo</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Lucile.jpg" alt="Lucile">
        <h5 class="name">Lucile</h5>
    </div>
    <div class="contact">
        <img class="story"src="assets/Yanis.jpg" alt="Yanis">
         <h5 class="name">Yanis</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Marine.jpg" alt="Marine">
        <h5 class="name">Marine</h5>
    </div>
    <div class="contact">
        <img class="story" src="assets/Nathan.jpg" alt="Nathan">
        <h5 class="name">Nathan</h5>
    </div>
</div>