<html>
    <body>
        <header>
            <div class="Container2">
                <p id="question">Don't have an account ?</p>
                <a href=""><button id="Sign-up">Sign-up</button></a>
            </div>
        </header>
        
        <div class="Container">
            <div class="Form">
                <div>
                    <h2><strong>{{Title}}</strong></h2>
                </div>
                <form>
                    <div class="Content">
                        <div class="Formulaire">    
                            <div class="Email">
                                <h4>E-mail</h4>
                                <input id="email" type="email" name="email" required="required" size="30" minlength="10" maxlength="40">
                            </div>
                            <div class="Password">
                                <h4>Password</h4>
                                <div id="mdp">
                                    <input id="password" type="password" name="password" required="required" size="30" minlength="8" maxlength="40">
                                        <div id="hidePassword">
                                            <input type="checkbox"> Show Password
                                        </div>
                                </div>    
                            </div>
                        </div>        
                        <div id="send_button">    
                            <input type="submit" id="send" value="Sign-in">
                        </div>    
                            <p style="font-size: 25px;">or</p>
                        <div class="Social-media">
                            <a href="#"><span class="iconify" data-icon="akar-icons:facebook-fill" data-inline="false" style="color: rgb(237, 65, 55); margin-right: 20px;" data-width="55px" data-height="55px"></span></a>
                            <a href="#"><span class="iconify" data-icon="akar-icons:google-contained-fill" data-inline="false" style="color: rgb(237, 65, 55);" data-width="55px" data-height="55px"></span></a>
                        </div>    
                        <div class="Remember">
                            <input type="checkbox"> Remember me
                        </div>  
                    </div>    
                </form>
            </div>        
            <div class="Informations">
                <div class="Sentence">
                    <div>
                        <img id="logo_P" src="assets/logo_P.png" alt="logo_P">
                        <p><strong> Contact your friends or publish news about popular culture...</strong></p>
                    </div>
                </div>
                <div id="online">
                    <div class="Contacts">
                        <h4>Online Contacts<span class="dot"></span></h4>
                        <div class="sup-box">
                            <div class="block">
                                <div class="contact">
                                    <img class="story" src="assets/Enzo.jpg" width="17%" alt="enzo">
                                    <h5>Enzo</h5>
                                </div>
                                <div class="contact">
                                    <img class="story" src="assets/Lucile.jpg" width="17%" alt="Lucile">
                                    <h5>Lucile</h5>
                                </div>
                                <div class="contact">
                                    <img class="story"src="assets/Yanis.jpg" width="17%" alt="Yanis">
                                    <h5>Yanis</h5>
                                </div>
                                <div class="contact">
                                    <img class="story" src="assets/Marine.jpg" width="17%" alt="Marine">
                                    <h5>Marine</h5>
                                </div>
                                <div class="contact">
                                    <img class="story" src="assets/Nathan.jpg" width="17%" alt="Nathan">
                                    <h5>Nathan</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Conversation">
                        <div class="sup-box2">
                            <div class="contact">
                                <img class="story"src="assets/Yanis.jpg" width="17%" alt="Yanis">
                                <h5>Yanis</h5>
                            </div>
                            <div class="SMS1">
                                <p>Hi! Have you seen the movie "Tyler Rake" ?</p>
                            </div>
                            <div class="SMS2">
                                <p>Hi! Sure! And you ?</p>
                            </div>
                            <div class="SMS3">
                                <p>Yes! It was a very good film. What did you think of it ?</p>
                            </div>
                            <div class="SMS4">
                                <p>• • •</p>
                            </div>
                            <footer class="message">
                                <div>
                                    <span class="iconify" data-icon="carbon:add-filled" data-inline="false" style="color: rgb(237, 65, 55); margin-right: 5px;" data-width="25px" data-height="25px"></span>
                                    <span class="iconify" data-icon="mdi-light:picture" data-inline="false" style="color: rgb(237, 65, 55);" data-width="25px" data-height="25px"></span>
                                </div>
                                <div id="input_msg">
                                    <p>Write a message...</p>
                                </div>
                                <div id="button_msg">
                                    <span class="iconify" data-icon="carbon:send-alt-filled" data-inline="false" style="color: rgb(237, 65, 55);" data-width="30px" data-height="30px"></span>
                                </div>    
                            </footer>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <footer>
            <p>Privacy • Terms • Advertising • Ad Choices • Cookies • More • POP.©2021</p>
        </footer>
    </body>
</html>
